#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}
.carousel-inner {
	z-index:99;
	}
.carousel-inner>.item>a>img, .carousel-inner>.item>img
{
	    width: 100%;

    background: #fff;
	
}
.carousel-indicators
{ position: absolute!important;
    bottom: 38px!important;
    left: 50%!important;
    z-index: 998!important;
    width: 60%!important;
    padding-left: 0!important;
    margin-left: -30%!important;
    text-align: center!important;
    list-style: none!important;
	
	}
.carousel-indicators li {margin:0px 3px!important;}
/* Style tab links */
.tablink {
    
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 10%;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 50px 0px;
    height: 100%;
}
.carousel-control.left {
	    z-index: 99;
    font-family: 'Glyphicons Halflings';
    background: none;
    top: -83px;
    left: 41px;
		 
}
.carousel-control.right {
	z-index:99;
	    background: none;
		top: -83px;
    right: 41px;
	 font-family: 'Glyphicons Halflings'; 	 
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before
{
	display:none;
}
.carousel-control .glyphicon .icofont 
{
	     border: 1px solid #b7c3c8;
    border-radius: 52px;
    /* height: 40px; */
    padding: 6px 9px;
    /* width: 40px; */
    color: #33444c;
    font-size: 24px;
}
.carousel-control .glyphicon .icofont:hover{
color:#fff;
background:#196acc;	
}
.carousel-caption {
top:0px!important;	
z-index:999!important;
margin-top:145px;
}
.slider-content{
	font-size:16px;
	font-weight:500;
	margin:50px;
	color:#fff;
}
.carousel-control.left
{
	left:60!important;
	opacity:1;
}
.carousel-control.right
{
	    left: auto!important;
	right:60!important;
	opacity:1;
}
.carousel-caption h3

{
	    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.carousel-caption p{
	 color: #ffffff;
	 padding-top:20px;
    font-size: 60px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
}
.our-port
{
    color: #353535;
    font-size: 16px;
     padding: 10px 25px;
	 line-height:24px;
    text-transform: uppercase;
  
    text-align: left;
    background: #ffc815;
   border:0px;
}
.our-port:hover {
	color:#ffc815;
	background:#fff;

}

.carousel-indicators
{      transform: rotateY(270deg) translateX(-7.5em);
    /* transform-origin: center left; */
    transform: translate3d(0px, 0px, 0px);
   
    padding-left: 0!important;
    z-index: 999;
    bottom: 15px;
}
.carousel-indicators li
{
		border:2px solid #fff!important;
	background:#fff!important;
	height:9px;
	width:9px;
	cursor:pointer;
	border-radius:50%;
}
.carousel-indicators .active{
	border:2px solid #ffc815!important;
	background:#ffc815!important;
	height:10px;
	cursor:pointer;
	width:10px;
	border-radius:50%;
}
.carousel{
	    position: relative;
    margin-top: -110px;
}